.env
.env_wb
*.pyc
#*.cpython-311.pyc
#*.cpython-312.pyc
sample_working_capital_with_outliers.csv
sample.json
.DS_Store
# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class